name: Publish packages to Repositories
env:
  OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
  SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
  SIGNING_USER: ${{ secrets.SIGNING_USER }}
on:
  release:
    types: [ created ]
jobs:
  publish:
    runs-on: macos-latest
    environment: Publish
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: Publish package
        uses: gradle/gradle-build-action@v2.7.0
        with:
          arguments: mpfilepicker:publishAllPublicationsToMavenRepository